<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div class="container ">

      {{ partial "header.html" . }}

      <table class="site-index">

        {{ range first (index .Site.Params.HomepagePosts | default 3) (where .Data.Pages "Type" "post") }}
        <tr>
          <td><span style="font-size: 12px">》</span> {{ .Render "list-item" }}</td>
        </tr>
        {{ end }}

      </table>

      {{ partial "nav.html" . }}

      {{ partial "footer.html" . }}

    </div>

  {{ partial "highlight" . }}
  </body>
</html>
